body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  color: black;
  background: url(../images/Nike_Blue.jpg) repeat;
  /*background: lightgray;*/
}

a {
	color: blue;
}

a:hover {
	color: green;
}

h1 {
	background-color: white;
	padding-bottom: 10px;
	text-align: center;
	vertical-align: middle;
}

#profile_pic {
	float: right;
}

#wrapper {
  width: 960px;
  margin: 20px auto;
}

#nascar_link {
	width: 300px;
	height: 200px;
}
